<div class="container h-100 d-flex justify-content-center">
    <div class="jumbotron my-auto">
      <%= image_tag("logo-01.png", class: "img-responsive",:size => "300x240",:alt => "rss feed") %>
    </div>
</div>
